<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        body{
      height:100vh;
      display:flex;
      justify-content:center;
      align-items:center;
      background: linear-gradient(135deg, #7d31d3, #f7f7f7,#1a1818);
    }
    </style>
</head>
<body>
    <h2 style="text-align: center; color: #533094;">welcome to home page</h2>
</body>
</html>